<%- include('../partials/header'); %>

<!-- Main -->
<main class="main main-home">
    <div class="container">
        <h2 class="h2-title">Dat Cheddah FDIC API</h2>
        <p class="sample-api-p">This is a Fake Bank API made with out a database using an SAMPLE API to supply the data.</p>

        <img src="https://d2tyltutevw8th.cloudfront.net/media/image/open-banking-1200-1662083126.jpg" class="" width="1120" alt="xbox">
        <hr>
        <p><span class="first-letter">Introducing Dat Cheddah FDIC</span>  - the start-up bank that puts your money first!

            At Dat Cheddah FDIC, we believe that banking should be simple, transparent, and secure. That's why we've built a bank that's designed to meet the needs of today's consumers and businesses.
            
            As an FDIC-insured institution, your deposits are protected up to $250,000, so you can rest easy knowing that your money is safe with us.
            
            We offer a range of products and services, including checking and savings accounts, loans, and credit cards, all with competitive rates and fees. Plus, our mobile app makes it easy to manage your accounts on the go, with features like mobile check deposit, bill pay, and account alerts.
            
            Our team is dedicated to providing you with exceptional customer service, whether you're opening your first account or looking for advice on how to grow your wealth. And because we're a start-up bank, we're able to be more nimble and responsive to your needs than some of the larger institutions out there.
            
            So if you're looking for a bank that puts your interests first, look no further than Dat Cheddah FDIC. Join us today and start banking the way it should be!</p>
    </div>
</main>
<!-- End Main -->

<%- include('../partials/footer'); %>